<launch>
  <!-- USB 카메라 노드 실행 -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>

    <!-- 캘리브레이션 파라미터 로드 -->
    <rosparam file="$(find usb_cam)/calibration/usb_cam.yaml" command="load" />
  </node>

  <!-- 이미지 뷰어 노드 실행 (swscaler 경고 방지를 위해 비활성화) -->
  <!--
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  -->
</launch>
