<launch>
  <!-- <node pkg="perception_node" type="gate_node" name="gate_node" output="screen"/> -->
  <!-- gate new update -->
  <node pkg="perception_node" type="gate_lidar_fusion_node" name="gate_lidar_fusion_node" output="screen"/>  

  <node pkg="perception_node" type="labacorn_node" name="labacorn_node" output="screen"/>
  <!-- <node pkg="perception_node" type="parking_node" name="parking_node" output="screen"/>
  <node pkg="perception_node" type="rotary_node" name="rotary_node" output="screen"/> -->
</launch>
